<link rel="stylesheet" href="/dashboard.css" />
<div id="all-thoughts">
  <div class="container-thoughts">
    {{#each usersData}}
      <div class="card-thoughts">
        <p class="users-thoughts">{{this.thought}}</p>
        <form action="/updateThought/{{this.idThought}}" method="get">
          <input class="btn-update" value="Update" type="submit" />
        </form>
        <form action="/deleteThought" method="post">
          <input class="btn-delete" value="Delete" type="submit" />
        </form>
     
      </div>
    {{/each}}

  
  </div>
  <button id="btn-create"> <a href="/thoughts"> Create + </a></button>
</div>