<link rel="stylesheet" href="/login.css" />
<div>
  <form action="">
    <h1>Login</h1>
    <input placeholder="Email" type="email"  />
    <input placeholder="Passoword" type="password"  />
   <button type="submit">Login</button>
  </form>
</div>