<link rel="stylesheet" href="/login.css" />
<link rel="stylesheet" href="/responsive.css" />

<h1 id="login-error">{{{msgError}}} </h1>
<div>
  <form action="/LoginPost" method="post">
    <h1>Login</h1>
    <input name="email" placeholder="Email" type="email" />
    <input name="password" placeholder="Password" type="password" />
    <button type="submit"><a>Entrar</a></button>
  </form>
</div>