<link rel="stylesheet" href="/registered.css" />
  <h1>{{{msg}}} </h1>
<div class="registered-container">
  <form class="registered-form" action="/registeredPost" method="post">
    <div class="field">
      <label for="name">Nome</label>
      <input name="nome" placeholder="Nome completo" type="text" required />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input name="email" placeholder="Email" type="email" required />
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input name="password" placeholder="Crie uma senha" type="password" required />
    </div>
    <button>Registered</button>
  </form>

</div>