 <link rel="stylesheet" href="/registered.css">
<div class="registered-container">
  <form class="registered-form" action="">
    <div class="field">
      <label for="name">Nome</label>
      <input placeholder="Nome completo" type="text">
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input placeholder="Email" type="email">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input placeholder="Crie uma senha" type="password">
    </div>
  <button>Registered</button>
  </form>
</div>