<link rel="stylesheet" href="/createThoughts.css" />
<div class="create-thoughts">
  <h1> Creating a thoughts</h1>


    <form class="thoughts-form" action="/createThoughts" method="post">
      <div class="thoughts-field">
        <input placeholder="Write your thoughts" type="text" name="thought" class="field-input" />
      </div>
      <button>Create</button>
    </form>


</div>