<div class="create-thoughts">
  <h1> Update a thoughts</h1>
<link rel="stylesheet" href="/createThoughts.css">

    <form class="thoughts-form" action="/updateThought/{{{thought.id}}}" method="post">
      <div class="thoughts-field">
        <input value="{{{thought.userThought}}}" type="text" name="thoughtAtualized" class="field-input" />
      </div>
      <button>Update</button>
    </form>


</div>