
div{
  border: solid orange;
  height: 70%;
margin: 2% 5%;
display: flex;
align-items: baseline;
justify-content: center;
}
div form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
div form input{
  color: yellow;
  margin-top: 1%;
  width: 40%;
  font-size: 0.8em;
  background-color: black;
}
div form button{
  margin-top: 2%;
  padding: 10px 15px;
  color: white;
  background-color: green;
  border-radius: 10px;
}
#login-error{
  font-size: 1em;
  color: red;
  text-align: center;
}