body {
  margin: 0%;
  font-size: 24px;
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
}
header {
  width: 100%;
  background-color: rgba(195, 26, 26, 0.833);
  color: white;
  font-size: 0.8em;
  height: 10vh;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin-left: 2%;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(195, 26, 26, 0.833);
  font-size: 0.5em;
}
footer span {
  font-weight: bold;
  font-style: italic;
}
a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
  font-size: 1em;
}
a:hover{
font-size: 1.3em;
}