<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header>
      <ul>

        {{#if sessionId}}
          <li><a href="/dashboard/{{sessionId}}">Dashboard</a></li>
          <li><a href="/">Logout </a></li>

        {{else}}
          <li><a href="/">Login</a></li>
          <li><a href="/registered">Registrar</a></li>
        {{/if}}

       
      </ul>
    </header>
    {{{body}}}
    <footer>
      <p>Projeto feito durante o curso de <span>NodeJs</span>.</p>
    </footer>
  </body>
</html>