<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thoughts</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/responsive.css" />
    <link rel="icon" type="image/ico" href="/lamp.ico" >
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Pensamentos</a></li>
        {{#if sessionId}}
          <li><a href="/dashboard/{{sessionId}}">Dashboard</a></li>
          <li><a href="/loginGet">Logout </a></li>

        {{else}}
          <li><a href="/loginGet">Login</a></li>
          <li><a href="/registered">Registrar</a></li>
        {{/if}}

      </ul>
    </header>
    {{{body}}}
    <footer>
      <p>Projeto feito durante o curso de <span>NodeJs</span>.</p>
    </footer>
  </body>
</html>